<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <%- include("partials/meta") %>
   
    <title>Inicio</title>
</head>
<body>
    <%- include("partials/header") %>
    
    <section id="pantalla-dividida">
        <%- include("partials/izquierda") %>

        
        <div class="derecha">
            <div class="borde">
          <center><h3>Análisis de complejidad computacional</h3></center> <!--Ponen el titulo del tema y abajo el contenido-->
          <br>
          <p>Segment Tree</p>
          <ul>
              <li>Construcción: La complejidad para construir un árbol de segmentos es O(n * log n), donde n es el número de elementos en la secuencia. Esto se debe a que se deben realizar log n iteraciones para construir el árbol completo.</li>
              <li>Consulta: La complejidad para realizar una consulta en un árbol de segmentos es O(log n), ya que solo se necesita una cantidad logarítmica de tiempo para encontrar la información deseada en el árbol.</li>
              <li>Actualización: La complejidad para actualizar un elemento en un árbol de segmentos es O(log n), ya que solo se necesita una cantidad logarítmica de tiempo para actualizar el valor en el árbol.</li>
          </ul>
          <br>
          <p>Interval Tree</p>
          <ul>
              <li>Construcción: La complejidad para construir un árbol de intervalos es O(n * log n), donde n es el número de intervalos en el conjunto. Esto se debe a que se deben realizar log n iteraciones para construir el árbol completo.</li>
              <li>Consulta: La complejidad para realizar una consulta en un árbol de intervalos es O(log n), ya que solo se necesita una cantidad logarítmica de tiempo para encontrar la información deseada en el árbol.</li>
              <li>Actualización: La complejidad para actualizar un elemento en un árbol de intervalos es O(log n), ya que solo se necesita una cantidad logarítmica de tiempo para actualizar el valor en el árbol</li>
          </ul>
          <br>
          <p>Link de apoyo</p>
          <li><a href="https://www.tutorialandexample.com/interval-tree">Interval Tree- TAE -tutorial</a></li>
          <li><a href="https://www.oia.unsam.edu.ar/wp-content/uploads/2017/11/segment-tree.pdf">Estructura de datos "Segment Tree"</a></li>            
          <li><a href="https://aprende.olimpiada-informatica.org/algoritmia-arboles-segmentos-1">Árboles de Segmentos</a></li>
      </div>
    </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>