<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta") %>

    <title>Inicio</title>
  </head>
  <body>
    <%- include("partials/header") %>

    <section id="pantalla-dividida">
      <%- include("partials/izquierda") %>

      <div class="derecha">
        <div class="borde">
          <center><h3>Estructura y diseño de una LDE</h3></center>
          <!--Ponen el titulo del tema y abajo el contenido-->
          <br />
          <p>
            Un tipo de lista enlazada que permite ir en ambas direcciones, hacia
            adelante y hacia atr.ás, en una lista enlazada. Esta es la lista
            doblemente enlazada. Tal lista permite una gran variedad de
            operaciones r.ápidas de actualizaci.ón, incluyendo la inserci.ón y
            el borrado en ambos extremos, y en el centro. Un nodo en una lista
            doblemente enlazada guarda dos referencias un enlace sig, el cual
            apunta al siguiente nodo en la lista, y un enlace prev, el cual
            apunta al nodo previo en la lista.
          </p>

          <p>
            El almacenamiento con nexos en sólo un sentido tiene el problema de
            no permitir recorrido hacia atrás, pero si se agrega un segundo
            apuntador se puede lograr este objetivo. Pero tienen el problema de
            requerir más espacio de memoria.La ventaja que proporciona esta
            estructura es la operación de búsqueda e inserción, recorriendo
            hacia atrás en forma inmediata. Una implementación de un nodo de una
            lista doblemente enlazada se muestra en el siguiente código, donde
            nuevamente se asume que los elementos son cadenas de caracteres.
          </p>

          <div class="panel-body">
            <pre>
                <ol>
                    <li>struct nodo {</li>
                    <li>   int dato;</li>
                    <li>   struct nodo *siguiente;</li>
                    <li>   struct nodo *anterior;</li>
                    <li>};</li>
                </ol>
            </pre>
          </div>

          <p>Link de apoyo</p>
          <li>
            <a
              href="https://www.youtube.com/watch?v=NN_iS0jnJas"
              >Lista Doblemente enlazada en C++ - Video</a
            >
          </li>
          <li>
            <a
              href="https://sites.google.com/site/edatosubo/4-estructura-de-datos-dinamicas/1-listas/2-listas-doblemente-enlazadas"
              >Listas Doblemente Enlazadas</a
            >
          </li>
        
          <br />
          <div class="siguiente">
            <p>Siguiente tema:</p>
            <a href="/IEBLDE">Operaciones Insertar, Eliminar y Buscar en LDE >></a>
          </div>
        </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
