<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/iconoA.png"> 
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belgrano&display=swap" rel="stylesheet">
   
    <title>Inicio</title>
</head>
<body>
    <%- include("partials/header") %>
    
    <section id="pantalla-dividida">
        <%- include("partials/izquierda") %>
        <div class="derecha">
            <center><h3>TRABAJO DE INVESTIGACIÓN FORMATIVA DE ALGORITMOS Y ESTRUCTURAS DE DATOS</h3></center> <!--Ponen el titulo del tema y abajo el contenido-->
            <br>
            <br>
            <p>Página web realizada para el TIF del curso con la finalidad de compartir el conocimiento adquirido durante del curso.</p>
            <br>
            <pre>
    Realizado por los Alumnos:
        - Condori Machaca, Saul Arturo.
        - Pacherres Muñoz, Peter Smith.
        - Postigo Cabana, Juan Carlos.
            </pre>
            <p>Diciembre - 2022</p>
            <p>Universidad Nacional de San Agustín de Arequipa</p>

        </div>
        </section>
</body>
</html>