<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <%- include("partials/meta") %>
   
    <title>Inicio</title>
</head>
<body>
    <%- include("partials/header") %>
    
    <section id="pantalla-dividida">
        <%- include("partials/izquierda") %>

        
        <div class="derecha">
            <div class="borde">
            <center><h3>Árboles Binarios: otras operaciones</h3></center> <!--Ponen el titulo del tema y abajo el contenido-->
            <br>
            <p>Además de las operaciones de inserción, eliminación y búsqueda, existen otras operaciones comunes que se pueden realizar con árboles binarios:</p>
            <li>Recorrido del árbol: Es la operación de recorrer todos los nodos del árbol de manera secuencial. Existen diferentes tipos de recorridos, como el recorrido en profundidad y el recorrido en anchura.</li>
            <li>Altura del árbol: Es la distancia desde la raíz hasta la hoja más lejana. La altura de un árbol binario vacío es -1.</li>
            <li>Contar el número de nodos: Es la operación de contar cuántos nodos hay en el árbol.</li>
            <li>Buscar el valor mínimo y máximo: Es la operación de encontrar el valor mínimo y máximo en el árbol.</li>
            <li>Eliminar todos los nodos: Es la operación de eliminar todos los nodos del árbol.</li>
            <li>Copiar un árbol: Es la operación de crear una copia exacta del árbol en otra ubicación en la memoria.</li>

            
            <p>Link de apoyo</p>
            <li><a href="https://www.techiedelight.com/es/calculate-height-binary-tree-iterative-recursive/">Calcular la altura de un árbol binario: iterativo y recursivo</a></li>
            <li><a href="https://foro.elhacker.net/programacion_cc/buscar_el_valor_maximo_y_minimo_del_arbol_binario-t419043.0.html">Minimo Valor y Maximo Valor de Un Arbol</a></li>

            <br />
            <div class="siguiente">
              <p>Siguiente tema:</p>
              <a href="/analisisBT">Ánalisis de complejidad computacional >></a>
            </div>
        </div>
    </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>