<div class="izquierda">
  <h2>Temas</h2>
  <h4>Listas Simplemente (LSE) y Doblemente enlazadas (LDE)</h4>
      <ul>
          <li><a href="estructLSE">Estructura y Diseño de una LSE.</a></li>
          <li><a href="IEBLSE">Operaciones Insertar, Eliminar,Buscar en LSE.</a></li>
          <li><a href="estructLDE">Estructura y Diseño de una LDE.</a></li>
          <li><a href="IEBLDE">Operaciones Insertar, Eliminar, Buscar en LDE.</a></li>
          <li><a href="listCircular">Listas Circular y operaciones.</a></li>
          <li><a href="analisisLSE">Análisis de complejidad Computacional.</a></li>
      </ul>
  <h4>Árboles Binarios</h4>
      <ul>
          <li><a href="IEBBT">Operaciones de inserción, eliminación y Búsqueda.</a></li>
          <li><a href="othersBT">Otras Operaciones en árboles binarios.</a></li>
          <li><a href="analisisBT">Análisis de complejidad computacional.</a></li>
      </ul>
      <h4>Árboles Binarios Equilibrados</h4>
      <ul>
          <li><a href="IEBAVL">Árboles AVL y operaciones de inserción, eliminación y Búsqueda.</a></li>
          <li><a href="IEBRB">Árboles Red Black y operaciones de inserción, eliminación y Búsqueda.</a></li><!--Van poniendo sus temas-->
          <li><a href="STeIT">Segment Tree e Interval Tree.</a></li>
          <li><a href="analisiABE">Análisis de complejidad computacional.</a></li>
      </ul>
  <h4>Matrices poco Densas.</h4>
      <ul>
          <li><a href="densaEstatica">Matrices poco densas Estáticas.</a></li>
          <li><a href="densaDinamicas">Matrices poco densas Dinámicas.</a></li>
          <li><a href="matrizEsparzas">Optimización en eficiencia de Matrices Esparzas.</a></li>
          <li><a href="matrizEsparzas-Aplicaciones">Aplicaciones.</a></li>
      </ul>
  <h4>Tablas Hash.</h4>
      <ul>
          <li><a href="tablaHash">Funciones de Dispersión.</a></li>
          <li><a href="tablaHashDensidad">Densidad de Empaquetamiento.</a></li>
          <li><a href="tablaHashOperaciones">Operaciones de Inserción, Eliminación y Búsqueda.</a></li>
          <li><a href="tablaHashAnalisis">Análisis de complejidad computacional.</a></li>
      </ul>
  <h4>Estructuras de Datos en Grafos.</h4>
      <ul>
          <li><a href="matricesAdyacencia">Matrices de Adyacencia.</a></li>
          <li><a href="listaAdyacencia">Listas de Adyacencia.</a></li>
          <li><a href="analisisDatosenGrafos">Complejidad computacional.</a></li>
      </ul>
  <h4>Rutas más cortas.</h4>
      <ul>
          <li><a href="algoritmoWarshall">Algoritmo de Warshall.</a></li>
          <li><a href="algoritmoFloyd">Algoritmo de Floyd.</a></li>
          <li><a href="algoritmoDijkstra">Algoritmo de Dijkstra.</a></li>
      </ul>
  <h4>Algortimos sobre Grafos.</h4>
      <ul>
          <li><a href="arbolesExpansionMinima">Árboles de Expansión Mínima ( Kruscall , Prim).</a></li>
          <li><a href="componentesFuertementeConexoz">Componentes Fuertemente conexos.</a></li>
          <li><a href="ordenTopologico">Orden Topológico.</a></li>
          <li><a href="flujosMaximosMinimos">Flujos Máximos y Mínimos.</a></li>
          <li><a href="coloreadoGrafos">Coloreado de Grafos.</a></li>
      </ul>
  <h4>Árboles multicamino.</h4>
      <ul>
          <li><a href="ArbolesB">Árboles B,B+ y B* y operaciones.</a></li>
          <li><a href="arbolesPatricia">Árboles Patricia y operaciones.</a></li>
          <li><a href="arbolesDigitales">Árboles digitales.</a></li>
      </ul>
</div>