<div class="izquierda">
  <div class="borde">
    <h2>Temas</h2>

    <hr>

    <a class="subtitle collapsed" data-bs-toggle="collapse" href="#LSE" role="button" aria-expanded="false" aria-controls="LSE">
      <h5>Listas Simplemente (LSE) y Doblemente enlazadas (LDE)</h5>
      <img src="https://cdn-icons-png.flaticon.com/512/2985/2985150.png">
    </a>
    
    <ul class="collapse" id="LSE">
      <li><a href="estructLSE">Estructura y Diseño de una LSE.</a></li>
      <li>
        <a href="IEBLSE">Operaciones Insertar, Eliminar,Buscar en LSE.</a>
      </li>
      <li><a href="estructLDE">Estructura y Diseño de una LDE.</a></li>
      <li>
        <a href="IEBLDE">Operaciones Insertar, Eliminar, Buscar en LDE.</a>
      </li>
      <li><a href="listCircular">Listas Circular y operaciones.</a></li>
      <li><a href="analisisLSE">Análisis de complejidad Computacional.</a></li>
    </ul>

    <hr>
    
    <a class="subtitle collapsed" data-bs-toggle="collapse" href="#AB" role="button" aria-expanded="false" aria-controls="AB">
      <h5>Árboles Binarios</h5>
      <img src="https://cdn-icons-png.flaticon.com/512/2985/2985150.png">
    </a>
    
    <ul class="collapse" id="AB">
      <li>
        <a href="IEBBT">Operaciones de inserción, eliminación y Búsqueda.</a>
      </li>
      <li><a href="othersBT">Otras Operaciones en árboles binarios.</a></li>
      <li><a href="analisisBT">Análisis de complejidad computacional.</a></li>
    </ul>

    <hr>

    <a class="subtitle collapsed" data-bs-toggle="collapse" href="#ABE" role="button" aria-expanded="false" aria-controls="ABE">
      <h5>Árboles Binarios Equilibrados</h5>
      <img src="https://cdn-icons-png.flaticon.com/512/2985/2985150.png">
    </a>
    
    <ul class="collapse" id="ABE">
      <li>
        <a href="IEBAVL"
          >Árboles AVL y operaciones de inserción, eliminación y Búsqueda.</a
        >
      </li>
      <li>
        <a href="IEBRB"
          >Árboles Red Black y operaciones de inserción, eliminación y
          Búsqueda.</a
        >
      </li>
      <!--Van poniendo sus temas-->
      <li><a href="STeIT">Segment Tree e Interval Tree.</a></li>
      <li><a href="analisiABE">Análisis de complejidad computacional.</a></li>
    </ul>
    
    <hr>

    <a class="subtitle collapsed" data-bs-toggle="collapse" href="#MPD" role="button" aria-expanded="false" aria-controls="MPD">
      <h5>Matrices poco Densas</h5>
      <img src="https://cdn-icons-png.flaticon.com/512/2985/2985150.png">
    </a>
    
    <ul class="collapse" id="MPD">
      <li><a href="densaEstatica">Matrices poco densas Estáticas.</a></li>
      <li><a href="densaDinamicas">Matrices poco densas Dinámicas.</a></li>
      <li>
        <a href="matrizEsparzas"
          >Optimización en eficiencia de Matrices Esparzas.</a
        >
      </li>
      <li><a href="matrizEsparzas-Aplicaciones">Aplicaciones.</a></li>
    </ul>

    <hr>

    <a class="subtitle collapsed" data-bs-toggle="collapse" href="#TH" role="button" aria-expanded="false" aria-controls="TH">
      <h5>Tablas Hash</h5>
      <img src="https://cdn-icons-png.flaticon.com/512/2985/2985150.png">
    </a>
    
    <ul class="collapse" id="TH">
      <li><a href="tablaHash">Funciones de Dispersión.</a></li>
      <li><a href="tablaHashDensidad">Densidad de Empaquetamiento.</a></li>
      <li>
        <a href="tablaHashOperaciones"
          >Operaciones de Inserción, Eliminación y Búsqueda.</a
        >
      </li>
      <li>
        <a href="tablaHashAnalisis">Análisis de complejidad computacional.</a>
      </li>
    </ul>

    <hr>

    <a class="subtitle collapsed" data-bs-toggle="collapse" href="#EDG" role="button" aria-expanded="false" aria-controls="EDG">
      <h5>Estructuras de Datos en Grafos</h5>
      <img src="https://cdn-icons-png.flaticon.com/512/2985/2985150.png">
    </a>
    
    <ul class="collapse" id="EDG">
      <li><a href="matricesAdyacencia">Matrices de Adyacencia.</a></li>
      <li><a href="listaAdyacencia">Listas de Adyacencia.</a></li>
      <li><a href="analisisDatosenGrafos">Complejidad computacional.</a></li>
    </ul>

    <hr>

    <a class="subtitle collapsed" data-bs-toggle="collapse" href="#RMC" role="button" aria-expanded="false" aria-controls="RMC">
      <h5>Rutas más cortas</h5>
      <img src="https://cdn-icons-png.flaticon.com/512/2985/2985150.png">
    </a>
    
    <ul class="collapse" id="RMC">
      <li><a href="algoritmoWarshall">Algoritmo de Warshall.</a></li>
      <li><a href="algoritmoFloyd">Algoritmo de Floyd.</a></li>
      <li><a href="algoritmoDijkstra">Algoritmo de Dijkstra.</a></li>
    </ul>

    <hr>

    <a class="subtitle collapsed" data-bs-toggle="collapse" href="#ASG" role="button" aria-expanded="false" aria-controls="ASG">
      <h5>Algortimos sobre Grafos</h5>
      <img src="https://cdn-icons-png.flaticon.com/512/2985/2985150.png">
    </a>
    
    <ul class="collapse" id="ASG">
      <li>
        <a href="arbolesExpansionMinima"
          >Árboles de Expansión Mínima ( Kruscall , Prim).</a
        >
      </li>
      <li>
        <a href="componentesFuertementeConexoz"
          >Componentes Fuertemente conexos.</a
        >
      </li>
      <li><a href="ordenTopologico">Orden Topológico.</a></li>
      <li><a href="flujosMaximosMinimos">Flujos Máximos y Mínimos.</a></li>
      <li><a href="coloreadoGrafos">Coloreado de Grafos.</a></li>
    </ul>

    <hr>

    <a class="subtitle collapsed" data-bs-toggle="collapse" href="#AMC" role="button" aria-expanded="false" aria-controls="AMC">
      <h5>Árboles multicamino</h5>
      <img src="https://cdn-icons-png.flaticon.com/512/2985/2985150.png">
    </a>
    
    <ul class="collapse" id="AMC">
      <li><a href="ArbolesB">Árboles B,B+ y B* y operaciones.</a></li>
      <li><a href="arbolesPatricia">Árboles Patricia y operaciones.</a></li>
      <li><a href="arbolesDigitales">Árboles digitales.</a></li>
    </ul>
    
  </div>
</div>
